/*  utility   */
.d-flex{
    display: flex;

}

.flex-justify-between{
display: flex;
justify-content: space-between;

}
.spacing-bottom{
    margin-bottom: 1rem;
}
.spacing-right{
    margin-right: 1rem;
}